.container{
    width: 300px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 100px;
}

.container_cal{
    text-align: center;
    padding-top: 10px;

    
}
.container_input input{
    width: 260px;
    height: 46px;
    border-radius: 8px;
    background-color: rgb(248, 248, 248);
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_btn button{
    padding: 18px 25px 18px;
    background-color: #ff9900;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
}
.container_btn{
    padding: 2px;
    text-align: center;
    
}
.container_buttons{
    padding-left: 10px;
    /* padding-top: 20px; */
    width: 100%;
    overflow: hidden;
    display: flex;
    /* flex-wrap: wrap; */
}
.cal_btns{
    padding-top: 10px;
}


.equal button{
    background-color: black;
}
